/* Taken from https://www.w3schools.com/howto/howto_js_collapsible.asp */
/* Style the button that is used to open and close the collapsible content */
.collapsible {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .collapsible:hover {
  background-color: #ccc;
}

/* Style the collapsible content. Note: hidden by default */
.hid-content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #f1f1f1;
}

/* from https://markheath.net/post/customize-radio-button-css */
.radio-in input[type="radio"] {
  opacity: 0;
  position: fixed;
  width: 0;
}

.radio-in label {
  display: inline-block;
  background-color: #ddd;
  padding: 10px 20px;
  font-family: sans-serif, Arial;
  font-size: 16px;
  border: 2px solid #444;
  border-radius: 4px;
}

.radio-in input[type="radio"]:checked + label {
  background-color:#bfb;
  border-color: #4c4;
}

.radio-in input[type="radio"]:focus + label {
  border: 2px dashed #444;
}

.radio-in label:hover {
  background-color: #dfd;
} 